<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projeto Web Extensão</title>
  <link rel="stylesheet" href="styles/global.css">
  <link rel="stylesheet" href="styles/sign-up.css">
</head>

<body>
  <div id="container">
    <h1>Faça seu cadastro!</h1>

    <span class="error server-message">{{ error.message }}</span>

    <form id="form" method="POST" action="/sign-up">
      <div>
        <label for="name">Nome</label>
        <input id="name" required type="text" name="name" />
      </div>

      <div>
        <label for="email">Email</label>
        <input id="email" required type="email" name="email" />
      </div>

      <div>
        <label for="phone">Celular</label>
        <input id="phone" required type="text" name="phone" />
      </div>

      <div>
        <label for="password">Senha</label>
        <input id="password" required type="password" name="password" />
      </div>

      <div>
        <label for="confirmPassword">Confirme sua senha</label>
        <input id="confirmPassword" required type="password" name="confirmPassword" />
      </div>

      <button type="submit">Finalizar cadastro</button>
    </form>

    <div class="link-wrapper">
      <a href="/login">
        Já tem conta? Entre com suas credenciais!
      </a>
    </div>
  </div>

  <script src="js/sign-up.js"></script>
</body>

</html>